<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmls:th="http://www.thymeLeaf.org">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bf_estiloSistema.css}" />
    <title>BlueFood</title>
</head>

<body>
    <header>
        <div id="divLogotipoSistema">
            <span id="spanAuxiliarDeAlinhamentoVertical"></span>
            <a th:href="@{/}">
            <img th:src="@{/images/bf_logotipoSistema.png}" alt="" id="imgLogotipoSistema" />
            </a>
        </div>
    </header>
    <br /><br />
    <!-- Cabeçalho - Fim -->



    <!-- Conteúdo -->
	<div layout:fragment='content'></div>
	
	
    <!-- Rodapé - Início-->
</body>

</html>